$colorPrimary: #004a9f;
$colorSecondary: #ec7814;
$colorTextColor: #333;
$colorBackground: #f2f2f2;
$colorSoft: #bfbfbf;
$colorHeaderBorder: #e6e6e6;
$colorFooterBackground: #333;
$colorWizardStep: #c9c9c9;
$colorRadioBorder: #c9c9c9;
