doctype html
html.fixed-header.fixed-footer(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title IPC SPA seed

    meta(name='application-name', content='IPC SPA seed')
    meta(name='author', content='Jidoka, info@jidoka.be')
    meta(name='description', content='SPA seed for ')
    meta(name='keywords', content='react, webpack, spa, seed, ipc')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='shortcut icon', href='/favicons/ipc-favicon.ico')

    block header
  body(data-version='0.0.1')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
