.button {
  background-color: #fff;
  border: 2px solid $colorSecondary;
  color: $colorSecondary;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;

  span {
    @extend .nunito.bold;
  }

  &:focus {
    outline:0;
  }
}