/*
$headerHeight: 70px;
$headerBorderHeight: 1px;
$languagePickerHeight: 56px;
$languageChoiceSize: 33px;
$languageChoiceTextWidth: 0.85 * $languageChoiceSize;
$headerPadding: 30px;
*/
$navItemHeight: 28px;

.navigation {
  display: inline-block;
  float: right;
  height: $headerHeight;
  line-height: $headerHeight;

  .nav-item {
    display: inline-block;
    height: $navItemHeight;
    line-height: $navItemHeight;
    padding: 0 15px;
    border-right: 1px solid $colorTextColor;
    cursor: pointer;

    &:last-child {
      border-right: 0;
    }

    .active {
      font-weight: bold;
    }

    a {
      color: $colorTextColor;
      text-decoration: none;

      &:hover {
        color: $colorSecondary;
        text-decoration: underline;
      }
    }
  }
}