@import "../mixins";

$messagePadding: 7px;
$iconSize: 18px;
$progressHeight: 2px;
$fadeInDuration: 1;
$fadeOutDuration: 1;
@keyframes runProgress {
  0% {
    width: 0;
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    width: 100%;
    background: rgba(255, 255, 255, 1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@mixin progressDuration($duration: 15) {
  $progressTime: $duration - $fadeInDuration - $fadeOutDuration;
  &.duration-#{$duration} .message-progress {
    -webkit-animation: runProgress #{$progressTime}s linear forwards #{$fadeInDuration}s;
    -moz-animation: runProgress #{$progressTime}s linear forwards #{$fadeInDuration}s;
    -o-animation: runProgress #{$progressTime}s linear forwards #{$fadeInDuration}s;
    -ms-animation: runProgress #{$progressTime}s linear forwards #{$fadeInDuration}s;
    animation: runProgress #{$progressTime}s linear forwards #{$fadeInDuration}s;
  }
}
.global_messages {
  position: absolute;
  left: 25px;
  right: 25px;
  height: 0px;
  z-index: 1;
  .message {
    @include rounded(5px);
    @include progressDuration(10);
    @include progressDuration(15);
    @include progressDuration(20);
    @include progressDuration(25);
    @include progressDuration(30);
    @include progressDuration(45);
    @include progressDuration(60);
    @include progressDuration(90);
    @include progressDuration(120);
    position: relative;
    padding: $messagePadding 0;
    width: 100%;
    margin-bottom: 10px;
    opacity: 1;
    transform: translateY(0px);
    animation: fadeIn #{$fadeInDuration}s linear forwards;
    &.is-closing {
      animation: fadeOut #{$fadeOutDuration}s linear forwards;
    }
    &.error {
      background-color: darkred;
      color: white;
    }
    &.warning {
      background-color: #ec971f;
      color: white;
    }
    &.success {
      background-color: #449d44;
      color: white;
    }
    &.info {
      background-color: #337ab7;
      color: white;
    }
    .text-container {
      width: 100%;
      display: block;
      text-align: center;
      position: relative;
    }
    .text {
      padding: 0 ($messagePadding * 2 + $iconSize);
      white-space: pre-wrap;
      display: inline-block;
      text-align: left;
    }
    .message-icon, .close-icon {
      height: $iconSize;
      position: absolute;
      top: $messagePadding;

      i {
        font-size: $iconSize;
        vertical-align: top;
      }
    }
    .message-icon {
      left: $messagePadding * 2;
    }
    .close-icon {
      right: $messagePadding + $iconSize;
      cursor: pointer;
    }
    &.timed {
      padding-bottom: $messagePadding * 2;
      .progress-container {
        position: absolute;
        left: ($messagePadding * 2 + $iconSize);
        right: ($messagePadding * 2 + $iconSize);
        bottom: -($messagePadding - $progressHeight) + 2px;
        text-align: center;
        height: $messagePadding;
      }
      .message-progress {
        width: 0;
        height: $progressHeight;
        background: rgba(255, 255, 255, 0.3);
        position: relative;
        display: inline-block;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(255, 255, 255, 0.6);
      }
    }
  }
}
