$footerHeight: 45px;
$footerPadding: 30px;

.footer {
  width: 100%;
  height: $footerHeight;
  overflow: hidden;
  background-color: $colorFooterBackground;
  color: #fff;
  text-transform: uppercase;
  line-height: $footerHeight;

  .company {
    margin-left: $footerPadding;
  }

  .links {
    float: right;
    margin-right: $footerPadding;

    .link {
      font-size: 12px;
      display: inline-block;
      margin-left: 60px;
    }
  }
}

.page-wrapper {
  min-height: calc(100vh - #{$footerHeight});
}

html.fixed-header {
  .page-wrapper {
    min-height: calc(100vh - #{$footerHeight + $headerHeight + $headerBorderHeight});
  }
}

html.fixed-footer {
  .main-container {
    padding-bottom: $footerHeight;
  }

  .footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}