$headerHeight: 70px;
$headerBorderHeight: 1px;
$languagePickerHeight: 56px;
$languageChoiceSize: 33px;
$languageChoiceTextWidth: 0.85 * $languageChoiceSize;
$headerPadding: 30px;

#header {
  width: 100%;
  clear: both;
  border-bottom: $headerBorderHeight solid $colorHeaderBorder;
  height: $headerHeight;
  background-color: #fff;

  .logo {
    max-height: $headerHeight - 1px;
    margin-left: $headerPadding;
  }

  .language-picker {
    margin-top: ($headerHeight - $languageChoiceSize) / 2;
    margin-right: $headerPadding;
    float: right;
    height: $languageChoiceSize;
    line-height: $languageChoiceSize;

    .choice {
      display: inline-block;
      width: $languageChoiceSize;
      height: $languageChoiceSize;
      position: relative;
      text-align: left;
      cursor: pointer;

      &:hover:not(.active) {
        .background {
          display: inline;
          color: $colorBackground;
        }
      }

      &.active {
        .text {
          color: #ffffff;
        }
        .background {
          display: inline;
        }
      }
    }

    .text {
      text-transform: uppercase;
      position: absolute;
      z-index: 2;
      width: $languageChoiceTextWidth;
      text-align: center;
      font-size: 12px;
    }
    .background {
      display: none;
      font-size: $languageChoiceSize;
      color: $colorPrimary;
      position: absolute;
      z-index: 1;
    }
  }

  @import "../components/navigation";
}

html.fixed-header {

  .main-container {
    padding-top: $headerHeight + $headerBorderHeight;
  }

  #header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
  }
}
