@import "../fonts/Montserrat/Montserrat";
@import "../fonts/Nunito/Nunito";

h1, h2, h3, h4, h5 {
  @extend .nunito;
  color: $colorPrimary;
}

body {
  @extend .montserrat;
  color: $colorTextColor;
  font-size: 14px;
  line-height: 22px;
}

html{
  min-height: 100%;
  background-color: #f5f5f5;
}

body,
#app,
.main-container {
  height: 100%;
}

label {
  font-weight: normal;
}

@import "header";
@import "footer";
