//noinspection CssUnknownTarget
@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito/Nunito-Bold.eot');
  src: url('fonts/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
  url('fonts/Nunito/Nunito-Bold.woff') format('woff'),
  url('fonts/Nunito/Nunito-Bold.ttf') format('truetype'),
  url('fonts/Nunito/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito/Nunito-Regular.eot');
  src: url('fonts/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
  url('fonts/Nunito/Nunito-Regular.woff') format('woff'),
  url('fonts/Nunito/Nunito-Regular.ttf') format('truetype'),
  url('fonts/Nunito/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nunito, .nunito.regular {
  font-family: 'Nunito', serif !important;
  font-weight: normal !important;
  font-style: normal !important;
}

.nunito.bold {
  font-family: 'Nunito', serif !important;
  font-weight: bold !important;
  font-style: normal !important;
}
